<div class="navbar-fixed">
  <nav class="teal">
    <div class="nav-wrapper">
      <ul class="right hide-on-med-and-down">
        <li><img class="logo-home" src="images/logo - Copia.png"></li>
      </ul>
      <ul class="left hide-on-med-and-down">
        <li class="active"><a href="/#/home">In&iacute;cio</a></li>
        <li><a href="/#/abuse">Abusos</a></li>
        <li><a href="/#/user">Usu&aacute;rios</a></li>
        <li><a href="/#/report">Ocorr&ecirc;ncias</a></li>
        <li><a href="/#/">Sair</a></li>
      </ul>
    </div>
  </nav>
</div>
<center>
  <img class="materialboxed" width="950" src="images/sustentabilidade.jpg">
</center>