<div class="navbar-fixed">
  <nav class="teal">
    <div class="nav-wrapper">
      <ul class="right hide-on-med-and-down">
        <li><img class="logo-home" src="images/logo - Copia.png"></li>
      </ul>
      <ul class="left hide-on-med-and-down">
        <li><a href="/#/home">In&iacute;cio</a></li>
        <li><a href="/#/abuse">Abusos</a></li>
        <li><a href="/#/user">Usu&aacute;rios</a></li>
        <li class="active"><a href="/#/report">Ocorr&ecirc;ncias</a></li>
        <li><a href="/#/">Sair</a></li>
      </ul>
    </div>
  </nav>
</div>
<map center="-22.206368,-45.909593" zoom="4" default-style="false">
  <div ng-repeat="report in reports">
    <marker position="{{report.latitude}},{{report.longitude}}" on-click="click({{report.id}})" title="{{report.description}}"></marker>
  </div>
</map>