.form .ng-invalid.ng-touched {
	box-shadow: 0px 0px 5px red;
}

.form.submitted .ng-invalid {
	box-shadow: 0px 0px 5px red;
}

.form .ng-valid.ng-touched {
	box-shadow: none;
}

.form.submitted .ng-valid {
	box-shadow: none;
}

/*****************************************************************
/*Popup's classes
.popup
.popup-head
.popup-title 
.popup-sub-title 
.popup-body
.popup-buttons 
.popup-buttons.row 
.popup-buttons .button
*/
.popup-title {
  color: #006064 !important;
}

.popup-body{
  color: #000 !important;
}

.popup-buttons .button {
  background: #006064 !important;
}
/*****************************************************+************/

.htcTitle {
	color: white;
	text-align: center;
}

.buttonBack {
	color: white;
}

.button-send {
	width: 30%;
	margin-top: 3%;
	margin-left: 50%;
	color: #006064;
	background-color: white;
}

#button-login {
	width: 30%;
	margin-top: 3%;
	margin-left: 35%;
	color: #006064;
	background-color: white;
}

.icon {
	color: #fff;
}

/*===HOME===*/

#backgroundHome {
	background-color: #006064;
}

#logoHome {
	margin-left: 25%;
	margin-top: 25%
}

#buttonHome {
	width: 50%;
	margin-top: 3%;
	margin-left: 24%;
	color: azure;
	background-color: #006064;
}


/*===LOGIN===*/

#textOfLogin {
	margin-left: 35%;
	margin-top: 10%;
	margin-bottom: 10%;
	color: #006064;
	font-size: 20pt;
}


/*===LIST OF REPORTS===*/

.like {
	background-color: red;
}