.row {
	padding: 0px !important;
	/*margin: 1px 0px;*/
}

.col-50 {
	position: relative;
	overflow: hidden;
	margin: 1px;
}

.col-50:nth-child(2n+1) {
	margin-right: 0;
}
.col {padding: 0 !important;}

.col-bottom  {
	position: absolute;
	bottom: 4px;
	left: 0px;
	text-align: center;
	background: rgba(0,0,0,0.5);
}

.col-bottom h2 {
	color: #fff;
}

img {
	width: 100%;
}