<link rel="stylesheet" href="css/home.css">
<ion-view hide-nav-bar="true">
	<ion-content id="background">
		<div id="content">
			<div id="text">
				<h1 id="title">Help The City</h1>
				<h4>Bem vindo ao futuro</h4>
				<p>Conecte-se agora e ajude a sua cidade a se tornar um lugar melhor</p>
			</div>
			<div id="buttons">
				<div id="register" class="center">
					<a ui-sref="register">REGISTRAR</a>
				</div>
				<div class="center">
					<a id="has-account" ui-sref="login">Eu já possuo uma conta</a>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>