

 <ion-view view-title="Help the City">
	<ion-content>		
		<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">E-mail</span>
    <input type="text" placeholder="usuário" data-ng-model="e-mail">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Senha</span>
    <input type="password" placeholder="senha" data-ng-model="senha">
  </label>
</div>
<a class="button button-clear icon-left ion-ios-paperplane" href="#/tab/listOfReports">Entrar</a>
	</ion-content>
</ion-view>