<ion-view view-title="Help the City">
	<ion-content>
		<div class="item item-avatar">
			<img ng-src="https://pbs.twimg.com/profile_images/514549811765211136/9SgAuHeY.png" data-ng-model="user.image">
			<button class="button button-clear ion-edit" ng-click="getImage()">Editar</button>
		</div>
		<label class="item item-input">
			<i class="icon ion-person placeholder-icon"></i>
			<input type="text" data-ng-model="user.name" placeholder="Nome">
		</label>
		<label class="item item-input">
			<i class="icon ion-email placeholder-icon"></i>
			<input type="password" data-ng-model="user.password" placeholder="Senha">
		</label>
		<label class="item item-input">
			<i class="icon ion-locked placeholder-icon"></i>
			<input type="text" data-ng-model="user.email" placeholder="E-mail">
		</label>
		<label class="item item-input">
			<i class="icon ion-locked placeholder-icon"></i>
			<input type="number" data-ng-model="user.cpf" placeholder="CPF">
		</label>
		<label class="item item-input item-select">
			<div class="input-label">
				<i class="icon ion-transgender placeholder-icon"></i> Sexo
			</div>
			<select data-ng-model="user.gender">
				<option value="F">Feminino</option>
				<option value="M">Masculino</option>
			</select>
		</label>
		<br/>
		<a class="button button-clear icon-left ion-ios-paperplane" data-ng-click="createUser()">Enviar</a>
	</ion-content>
</ion-view>