<ion-view>
	<ion-nav-title>
		<span class="htcTitle">Help the City</span>
	</ion-nav-title>
	<ion-content>
		<div class="item item-avatar">
			<img ng-src="{{user.image}}" alt="Imagem do Perfil">
			<button class="button button-clear" ng-click="getImage()">Alterar Imagem</button>
		</div>
		<label class="item item-input">
			<i class="icon ion-person placeholder-icon"></i>
			<input type="text" data-ng-model="user.name" max-length="100" placeholder="Nome">
		</label>
		<label class="item item-input">
			<i class="icon ion-email placeholder-icon"></i>
			<input type="text" data-ng-model="user.email" max-length="50" placeholder="E-mail">
		</label>
		<label class="item item-input item-select">
			<div class="input-label">
				<i class="icon ion-transgender placeholder-icon"></i> Sexo
			</div>
			<select data-ng-model="user.gender">
				<option value="F">Feminino</option>
				<option value="M">Masculino</option>
			</select>
		</label>
		<br/>
		<div class="button button-ligth buttonEnviar" ng-click="validateUpdate(user) && updateUser()">Alterar</div>
	</ion-content>
</ion-view>