<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<link href="css/tab-report-detail.css" rel="stylesheet">
<ion-view view-title="Reporte">
	<ion-content>
		<div class="header">
			<h3 id="title">{{reportCtrl.report.category}}</h3>
			<span id="time">{{reportCtrl.postDate(reportCtrl.report)}}</span>
		</div>

		<img class="report-image" data-ng-src="{{report.img}}" />

		<div class="info">
			<a href="#/tab/reports/{{reportCtrl.report.id}}">
				<div class="item-avatar">
					<img ng-src="{{report.user.img}}" />
				</div>
				<p id="username">{{reportCtrl.report.user.name}}</p>
			</a>
			<div id="relevance-container">
				<div id="relevance-placeholder">
					<div id="relevance-icon" ng-click="relevance(report)"></div>
				</div>
				<p id="relevance-text">{{reportCtrl.report.relevance}}</p>
			</div>
		</div>

		<div>
			<p id="text-area">{{reportCtrl.report.text}}</p>
			<div>
	</ion-content>
</ion-view>