 <link rel="stylesheet" href="css/listOfReports.css">
 
 <ion-view view-title="Help the City">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="report in reports" type="item-text-wrap">
        <img ng-src="{{report.userId.image}}">
        <p>{{report.userId.name}}</p>
        <p>{{report.description}}</p>
        <p><img ng-src="{{report.image}}"></p>
        <div> 
            <a class="button button-clear icon-left ion-thumbsup">Curtir</a>
            <a class="button button-clear icon-left ion-navicon" href="#/abuse">Denunciar</a>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
