<ion-view view-title="Help The City">
  <ion-content>
    <div class="item item-avatar">
      <img ng-src="https://pbs.twimg.com/profile_images/514549811765211136/9SgAuHeY.png">
      <button class="button button-clear ion-edit" ng-click="getImage()">Editar</button>
    </div>
    <label class="item item-input">
      <i class="icon ion-person placeholder-icon"></i>
      <input type="text" placeholder="Nome">
    </label>
    <label class="item item-input">
      <i class="icon ion-email placeholder-icon"></i>
      <input type="text" placeholder="E-mail">
    </label>
    <label class="item item-input item-select">
      <div class="input-label">
        <i class="icon ion-transgender placeholder-icon"></i> Sexo
      </div>
      <select>
        <option value="0">Feminino</option>
        <option value="1">Masculino</option>
      </select>
    </label>
  </ion-content>
</ion-view>