<ion-view>
  <ion-nav-title>
    <a class="button button-clear icon-left ion-chevron-left buttonBack" href="#/tab/listOfReports"></a>
    <span class="htcTitle">Help the City</span>
  </ion-nav-title>
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        <div>
          <h2 class="title">O que está acontecendo</h2>
        </div>
        <div>
          <ion-radio ng-repeat="abuseCategory in abuseCategoriesList" value="{{abuseCategory.id}}" ng-model="abuse.categoryId">{{abuseCategory.name}}</ion-radio>
        </div>
      </div>
      <div class="item item-text-wrap">
        <div>
          <h2 class="title">Deixe seu comentário</h2>
        </div>
        <label class="item item-input">
          <input ng-model="abuse.description" type="text" placeholder="Deixe seu comentário aqui">
        </label>
      </div>
    </div>
    <button class="button buttonEnviar" ng-click="saveAbuse()">Enviar</button>
  </ion-content>
</ion-view>