<link rel="stylesheet" href="style.css">

<ion-view>
  <ion-nav-title>
    <span class="htcTitle">Help the City</span>
  </ion-nav-title>
  <ion-content>
    <label class="item item-input item-select">
      <div class="input-label">
        Categoria
      </div>
      <select>
        <option value="0">Defesa Civil</option>
        <option value="1">Iluminação</option>
        <option value="2">Saneamento Básico</option>
        <option value="3">Saúde</option>
        <option value="4">Segurança</option>
        <option value="5">Vias públicas</option>
        <option value="6">Trânsito</option>
      </select>
    </label>
    <label class="item item-input">
      <input ng-model="abuse.comment" type="text" placeholder="Deixe seu comentário">
    </label>
    <button class="button button-clear icon-left ion-image" ng-click="getImage()">Adicione uma foto</button>
    
    <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
   
    <button class="button buttonEnviar" ng-click="createReport()">Enviar</button>
  </ion-content>
</ion-view>
