<ion-view>
  <ion-nav-title>
    <span class="htcTitle">Help the City</span>
  </ion-nav-title>
  <ion-content ng-init="getListOfReports()">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="report in listOfReports" type="item-text-wrap">
        <img ng-src="{{report.userImage}}" alt="Imagem do Perfil">
        <p>{{report.userName}}</p>
        <p>{{report.reportDescription}}</p>
        <p><img ng-src="{{report.reportImage}}" alt="Imagem da Ocorrência"></p>
        <div>
          <a class="button button-clear icon-left ion-thumbsup" ng-class="like" ng-click="likeReport()">Curtir</a>
          <a class="button button-clear icon-left ion-navicon" href="#/abuse?userId={{report.userId}}&reportId={{report.reportId}}">Denunciar</a>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>