<link rel="stylesheet" href="style.css">
<script
src="http://maps.googleapis.com/maps/api/js">
</script>

<script>
function initialize()
{
var mapOpt = {
  center:new google.maps.LatLng(51.508742,-0.120850),
  zoom:5,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };
var map=new google.maps.Map(document.getElementById("googleMap"),mapOpt);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>


<ion-view>
  <ion-nav-title>
    <span class="htcTitle">Help the City</span>
  </ion-nav-title>
  <ion-content>
    <label class="item item-input item-select">
      <div class="input-label">
        Categoria
      </div>
      <select>
        <option value="0">Defesa Civil</option>
        <option value="1">Iluminação</option>
        <option value="2">Saneamento Básico</option>
        <option value="3">Saúde</option>
        <option value="4">Segurança</option>
        <option value="5">Vias públicas</option>
        <option value="6">Trânsito</option>
      </select>
    </label>
    <label class="item item-input">
      <input ng-model="abuse.comment" type="text" placeholder="Deixe seu comentário">
    </label>
    <div id="googleMap" style="width:500px;height:380px;"></div>
    <br/>
    <button class="button button-clear icon-left ion-image" ng-click="getImage()">Adicione uma foto</button>
  </ion-content>
</ion-view>