<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- List of Reports Tab -->
  <ion-tab title="Início" icon-off="iconHTC ion-ios-home-outline" icon-on="iconHTC ion-ios-home-outline" href="#/tab/listOfReports">
    <ion-nav-view name="tab-listOfReports"></ion-nav-view>
  </ion-tab>

  <!-- Search Tab -->
  <ion-tab title="Procurar" icon-off="iconHTC ion-ios-search" icon-on="iconHTC ion-ios-search" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- Report Tab -->
  <ion-tab title="Ocorrência" icon-off="iconHTC ion-compose" icon-on="iconHTC ion-compose" href="#/tab/report">
    <ion-nav-view name="tab-report"></ion-nav-view>
  </ion-tab>

  <!-- Profile User Tab -->
  <ion-tab title="Perfil" icon-off="iconHTC ion-person" icon-on="iconHTC ion-person" href="#/tab/editProfile">
    <ion-nav-view name="tab-editProfile"></ion-nav-view>
  </ion-tab>

</ion-tabs>
