<!-- Footer tabs -->
<ion-tabs class="tabs-icon-only tabs-color-active-positive">

  <!-- Reports Tab -->
  <ion-tab icon-off="ion-ios-home" icon-on="ion-ios-home-outline" ui-sref="tab.reports">
    <ion-nav-view name="tab-reports"></ion-nav-view>
  </ion-tab>

  <!-- Maps Tab -->
  <ion-tab icon-off="ion-ios-albums" icon-on="ion-ios-albums-outline" ui-sref="tab.map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>

  <!-- New Report Tab -->
  <ion-tab icon-off="ion-ios-paper" icon-on="ion-ios-paper-outline" ui-sref="tab.new">
    <ion-nav-view name="tab-new"></ion-nav-view>
  </ion-tab>

	<!-- Profile Tab -->
  <ion-tab icon-off="ion-ios-person" icon-on="ion-ios-person-outline" ui-sref="tab.profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab icon-off="ion-ios-person" icon-on="ion-ios-person-outline" ui-sref="tab.settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
